body {
  text-align: center;
  font-family: Arial;
}

.piano {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.white-key {
  width: 60px;
  height: 200px;
  border: 1px solid black;
  background: white;
  margin: 2px;
  line-height: 180px;
  cursor: pointer;
}

.white-key:active {
  background: #ddd;
}