.piano {
  position: relative;
  display: flex;
  height: 220px;
  user-select: none;
}

/* 白键 */

.white-key {
  width: 60px;
  height: 220px;
  background: white;
  border: 1px solid #333;
  position: relative;
  z-index: 1;
}

/* 黑键（悬浮）⭐ */

.black-key {
  width: 40px;
  height: 130px;
  background: black;
  position: absolute;
  top: 0;
  z-index: 2;
  margin-left: -20px;
}

.white {
  position: relative;
  z-index: 1;
}

.black {
  position: absolute;
  top: 0;
  z-index: 2;
}